
<div class="container"> <!-- *ngIf="hideNavbar" -->
	<nav class="transparent" style="background: transparent">
		<div class="nav-wrapper">
			<a href="#" class="brand-logo right"><i class="grey-text fa fa-gamepad fa-5x right" aria-hidden="true"></i><strong class="grey-text">امیرکبیر <span class="blue-text text-lighten-2">استودیو</span></strong></a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<!--<li><a href="#" class="blue">ثبت نام</a></li>-->
				<li><a href="#" class="grey-text"><i class="grey-text fa fa-user fa-5x left" aria-hidden="true"></i>ورود</a></li>
				<li><form>
					<div class="input-field">
						<input (keyup.enter)="goTo(searchBox.value)" #searchBox id="search" type="search" placeholder="جست‌وجو..." required>
						<label (click)="goTo(searchBox.value)" for="search"><i class="grey-text fa fa-search fa-5x left" aria-hidden="true"></i></label>
					</div>
				</form></li>
			</ul>
		</div>
	</nav>
</div>

<router-outlet></router-outlet>

<div id="footerAndLinks">
	<div id="footer" class="row">
		<ul class="container">
			<li class=" right"><a href="">صفجه‌اصلی</a></li>
			<li class=" right"><a href="">درباره‌ما</a></li>
			<li class=" right"><a href="">ارتباط با سازندگان</a></li>
			<li class=" right"><a href="">سوالات متداول</a></li>
			<li class=" right"><a href="">حریم خصوصی</a></li>
			<li class="left">
				<a href="#" id="amirkabir"><i class="fa fa-gamepad fa-2x right grey-text" aria-hidden="true"></i><strong class="grey-text">امیرکبیر <span class="blue-text text-lighten-2">استودیو</span></strong></a>
			</li>
		</ul>
	</div>

	<div id="links" class="row">
		<ul class="container">
			<li class="right"><i class="fa fa-twitter fa " aria-hidden="true"></i></li>
			<li class="right"><i class="fa fa-facebook fa " aria-hidden="true"></i></li>
			<li class="right"><i class="fa fa-instagram fa " aria-hidden="true"></i></li>
		</ul>
	</div>
</div>

<div id="allRightsReserved" class="row grey lighten-3">
	<h5 class="center grey-text">تمامی حقوق محفوظ و متعلق به دانشگاه امیرکبیر است</h5>
</div>


