<div id="mainDetail" [style.backgroundImage]="'url(app/' + currentGame.large_image + ')'">
    <div id="overlayDetail"></div>
    <div class="container" id="InfoOnBigImageDetail">
        <div class="row" id="gameDetailInfo">
            <div class="col s3 right">
                <img id="gameDetailSmallImage" class="responsive-image"  [src]="currentGame.small_image" width="180px" height="120px">
            </div>
            <div class="col s6 right">
                <div class="row white-text" id="gameDetailTitle">
                    {{currentGame.title}}
                </div>
                <div class="row" id="gameDetailCategories">
                    <span class="right white-text" *ngFor="let category of categories">
              	        {{category}},
                    </span>
                </div>
                <div class="row">
                    <div class="col s3 right" id="starDetail"><starsShow></starsShow></div>
                    <span id="gameDetailRate" class="white-text">{{currentGame.rate}} ({{currentGame.number_of_comments}})</span>
                </div>
            </div>
            <div class="col s3">
                <a href="#" class="btn blue white-text center">شروع بازی</a>
            </div>
        </div>
    </div>
</div>
<div class="grey lighten-3 row" id="tabHead">
    <div class="container">
        <div class="col s2 grey-text right center-align tabSelected"><a [routerLink]="['/gameDetail', {outlets: {'route1':['info']}}]">اطلاعات بازی</a></div>
        <div class="col s3 grey-text right center-align"><a [routerLink]="['/gameDetail', {outlets: {'route1':['ranking']}}]">رتبه‌بندی و امتیازات</a></div>
        <div class="col s2 grey-text right center-align"><a [routerLink]="['/gameDetail', {outlets: {'route1':['comments']}}]">نظرات کاربران</a></div>
        <div class="col s2 grey-text right center-align"><a [routerLink]="['/gameDetail', {outlets: {'route1':['similar']}}]">بازی‌های مشابه</a></div>
        <div class="col s3 grey-text right center-align"><a [routerLink]="['/gameDetail', {outlets: {'route1':['media']}}]">عکس‌ها و ویدئوها</a></div>
    </div>
</div>
<router-outlet name="route1"></router-outlet>